<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hursley Hack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="css/style.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <script src="js/jquery-ui.min.js"></script>
  <script src="js/main.js"></script>
</head>

<body>
  <div class="container-fluid">

    <div class="row main">


      <!-- <div class="col-sm-1 controls">

        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" rel="overview"><a href="#">OVERVIEW</a></li>
          <li role="presentation" rel="details" ><a href="#">DETAILS</a></li>
          <li role="presentation" rel="challenges"><a href="#">CHALLENGES</a></li>
        </ul>
      </div> -->

      <div class="col-sm-12 content">

        <div id="overview">

          <div class="laptop">
            <img src="images/laptop-center.png">
          </div>
          <h3 class="strapline">IBM's first Graduate and UP Hackathon</h3>
          <h3 class="date">Thursday 10th - Friday 11th March 2016</h3>
          <h3 class="location">IBM Hursley</h3>

          
          <h4>Sign ups open now! </h4>
          <!-- <div id="countdown-cont" class="row">

            <div id="days-cont" class="col-sm-3 col-xs-12">
              <div id="days" class="clock-num"></div>
              <h4 class="clock days">Days</h4>
            </div>
            <div id="hours-cont" class="col-sm-3 col-xs-12">
              <div id="hours" class="clock-num"></div>
              <h4 class="clock hours">Hours</h4>
            </div>

            <div id="minutes-cont" class="col-sm-3 col-xs-12">
              <div id="minutes" class="clock-num"></div>
              <h4 class="clock minutes">Minutes</h4>
            </div>
            <div id="seconds-cont" class="col-sm-3 col-xs-12">
              <div id="seconds" class="clock-num"></div>
              <h4 class="clock seconds">Seconds</h4>
            </div>


          </div> -->
          <div class="signup-button-container">
            <button type="button" class="signup btn btn-default btn-lg">
              Individual Sign Up<i class="fa fa-arrow-right"></i>
            </button>
            <button type="button" class="team-signup btn btn-default btn-lg">
              Team Sign Up<i class="fa fa-arrow-right"></i>
            </button>
          </div>

        </div>


<!--         <div class="row spaced">
          <div class="col-lg-8 col-lg-offset-2 col-md-12 col-space">
            <h3 class="subheading center">Challenges</h3>

              <div class="challengesContainer">
                <div class="col-lg-6 spaced">
                  <button type="button" class="challenge challenge-1 btn btn-default btn-lg">
                  Bank of Hursley<i class="chal fa fa-credit-card"></i>
                  </button> 
                  <span class="challenge-tag">#web, #frontend, #design</span>
                 
                </div>
                
                <div class="col-lg-6 spaced">
                  <button type="button" class="challenge challenge-2 btn btn-default btn-lg">
                    Reinventing Industries<i class="chal fa fa-lightbulb-o"></i>
                  </button>
                   <span class="challenge-tag">#innovation, #designthinking, #demo</span>
                </div>
                <div class="col-lg-6 spaced">
                  <button type="button" class="challenge challenge-3 btn btn-default btn-lg">
                    Social Insights<i class="chal fa fa-twitter"></i>
                  </button>
                  <span class="challenge-tag">#watson, #twitter, #sentiment</span>
                </div>
                <div class="col-lg-6">
                  <button type="button" class="challenge challenge-4 btn btn-default btn-lg">
                    IoT Demo<i class="chal fa fa-bar-chart"></i>
                  </button>
                  <span class="challenge-tag">#sensors, #demo, #iot</span>
                </div>
              </div>
          </div>
        </div> -->

        <div id="challengesContainer">
        <h3 class="subheading center challenges">Challenges</h3>

        <div class="row spaced nospacesmall">
          <div class="col-lg-8 col-lg-offset-2 col-xs-12 col-space">
            <div class="col-md-3 col-xs-12 chalButtonCont">
              <button type="button" class="challenge challenge-1 btn btn-default btn-lg">
                  Challenge 1<!-- <i class="chal fa fa-credit-card"></i> -->
              </button>
            </div>
            <div class="col-md-9 col-xs-12">
              <p class="chal-desc"><span class="chal-text">Design a new UI for the Bank of Hursley.</span> <span class="green">#web, #frontend, #design</span></p>
            </div>

          </div>
        </div>

        <div class="row spaced nospacesmall">
          <div class="col-lg-8 col-lg-offset-2 col-xs-12 col-space">
            <div class="col-md-3 col-xs-12 chalButtonCont">
              <button type="button" class="challenge challenge-2 btn btn-default btn-lg">
                    Challenge 2<!-- <i class="chal fa fa-lightbulb-o"></i> -->
                  </button>
            </div>
            <div class="col-md-9 col-xs-12">
              <p class="chal-desc"><span class="chal-text">How could CICS explore new industries?</span> <span class="orange">#innovation, #designthinking, #demo</span></p>
            </div>

          </div>
        </div>

        <div class="row spaced nospacesmall">
          <div class="col-lg-8 col-lg-offset-2 col-xs-12 col-space">
            <div class="col-md-3 col-xs-12 chalButtonCont">
              <button type="button" class="challenge challenge-3 btn btn-default btn-lg">
                    Challenge 3<!-- <i class="chal fa fa-lightbulb-o"></i> -->
                  </button>
            </div>
            <div class="col-md-9 col-xs-12">
              <p class="chal-desc"><span class="chal-text">Social insights for IBM Runtime Technologies.</span> <span class="pink">#watson, #twitter, #sentiment</span></p>
            </div>

          </div>
        </div>

        <div class="row spaced nospacesmall">
          <div class="col-lg-8 col-lg-offset-2 col-xs-12 col-space">
            <div class="col-md-3 col-xs-12 chalButtonCont">
              <button type="button" class="challenge challenge-4 btn btn-default btn-lg">
                    Challenge 4<!-- <i class="chal fa fa-lightbulb-o"></i> -->
                  </button>
            </div>
            <div class="col-md-9 col-xs-12">
              <p class="chal-desc"><span class="chal-text">Create a valuable demo for the Hursley site IoT project.</span> <span class="blue">#sensors, #demo, #iot</span></p>
            </div>

          </div>
        </div>
      </div>

        <div class="row spaced">
          <div class="col-lg-4 col-lg-offset-2 col-md-12 col-space" id="details">
            <h3 class="subheading">What is Hursley Hack?</h3>

            <p class="details">Hursley Hack is a 2 day hackathon for <span class="orange">grads</span>, <span class="orange">interns</span> and <span class="orange">apprentices</span> at IBM Hursley. Attendees will choose an interesting <span class="green">challenge</span> to solve and compete in teams of 4 to prototype a <span class="pink">solution</span> with real value to IBM. Teams will present their solution on the final day.</p>

          </div>

          <div class="col-lg-4  col-md-12" id="details">
            <h3 class="subheading">Why should I sign up?</h3>

            <p class="details">Are you a <span class="orange">grad/intern</span> working in a software, design or a business role? You will learn new technology, meet cool people and build something <span class="pink">awesome</span>. It's a great opportunity to <span class="green">develop skills</span> that you don't practice everyday such as  presentation skills, networking and innovation.
            </p>

          </div>
        </div>

        <div class="row spaced">
          <div class="col-lg-4 col-lg-offset-2 col-md-12 col-space" id="details">
            <h3 class="subheading">How do I sign up?</h3>

            <p class="details">Sign-up forms will be available <span class="pink">on this webpage</span> at <span class="orange">00:00AM, Monday 8th February</span>. There will be forms to sign up as an individual or as a team.  </p>

          </div>

          <div class="col-lg-4  col-md-12" id="details">
            <h3 class="subheading">What if I don't have a team?</h3>

            <p class="details">Each team consists of <span class="orange">4</span> members, <span class="orange">3</span> technical and <span class="orange">1</span> design/business member. If you sign up without a complete team (i.e. as an individual, a team of 2 or a team of 3), we will <span class="green">match</span> you with other enthusiastic hackers and put you in contact before the event!</p>

          </div>
        </div>

        <div class="row spaced">
          <div class="col-lg-4 col-lg-offset-2 col-md-12 col-space" id="details">
            <h3 class="subheading">Who sets the challenges?</h3>

            <p class="details"><span class="green">CICS</span>, <span class="green">IoT</span> and <span class="green">Runtimes</span>. There will be <span class="pink">4 challenges</span> to choose from, each of which will be judged by the department and the winning solution of each challenge will be awarded a <span class="orange">prize</span>. Prizes will be announced soon!</p>

          </div>

          <div class="col-lg-4  col-md-12" id="details">
            <h3 class="subheading">What technologies and languages can we use?</h3>

            <p class="details">You are allowed to use <span class="pink">any language</span> or <span class="orange">framework</span>, provided that they don't conflict with IBM's software regulations. Click <a href="http://ibm.biz/Green2Open" target="_blank" class="g20link">here</a> for full details.
              </p>

          </div>
        </div>


        <div class="row spaced">
          <div class="col-lg-4 col-lg-offset-2 col-md-12 col-space" id="details">
            <h3 class="subheading">What if I can't code?</h3>

            <p class="details"><span class="orange">Don't worry</span>. Aside from the quality of your working prototype, you will also be judged on the viability of your idea and the overall user experience. We need software engineers, business minds and creative designers. Technical helpers will be around throughout the event to guide you. </p>
            
          </div>

          <div class="col-lg-4  col-md-12" id="details">
            <h3 class="subheading">How do I win?</h3>

            <p class="details">Your team will do a <span class="pink">5 minute presentation</span> to showcase your work to the judges and audience. Each challenge has a judge and they will assess the quality of your solution based on the following criteria: <span class="green">business value</span>, <span class="orange">innovation & creativity</span>, <span class="pink">technical execution</span> and <span class="green">presentation skills</span>.
              </p>

          </div>
        </div>

        <div class="row spaced">
          <div class="col-lg-4 col-lg-offset-2 col-md-12 col-space" id="details">
            <h3 class="subheading">Will there be food?</h3>

            <p class="details"><span class="pink">Yes!</span> We have plans to provide one evening meal and snacks throughout the event. Please bring your own lunch and breakfast or eat at the <a href="http://ibm.biz/hursleycanteen" target="_blank" class="g20link">canteen</a>.</p>
            
          </div>

          <div class="col-lg-4  col-md-12" id="details">
            <h3 class="subheading">Can I sleep over?</h3>

            <p class="details"><span class="pink">Yes!</span> We encourage hackers to work overnight given the short time available. There will be sleeping space in B Block. Alternatively, feel free to go home in the evening.
              </p>

          </div>
        </div>


        <div class="row spaced">
          
          <div class="col-lg-4 col-lg-offset-2 col-md-12 col-space" id="details">
            <h3 class="subheading">Can I leave my day job for two days?</h3>

            <p class="details">Please <span class="green">check with your line manager</span> before signing up. This is a unique opportunity to work on an exciting project! If in doubt, contact your EPDM. </p>
            
          </div>

          <div class="col-lg-4  col-md-12" id="details">
            <h3 class="subheading">Is it free? Will you pay for my expenses?</h3>

            <p class="details">The event is <span class="green">free to participate</span> but unfortunately we cannot cover your travel or accommodation expenses. If you have to travel, please <span class="orange">check with your EPDM</span> or line manager to see if they're willing to fund this as it contributes towards your personal development. 
              </p>

          </div>
        </div>


        <div class="row spaced">
          

          <div class="col-lg-4 col-lg-offset-2 col-md-12 col-space" id="details">
            <h3 class="subheading">What do I need to bring?</h3>

            <p class="details">A laptop, sleeping bag, toothbrush and any additional snacks!</p>
            
          </div>

          <div class="col-lg-4  col-md-12" id="details">
            <h3 class="subheading">Can I work on the hack before the event?</h3>

            <p class="details">You can start researching and <span class="pink">thinking</span> about your solution but please don't start coding until the event.
              </p>

          </div>
        </div>

        <div class="row spaced">
          <div class="col-sm-12">
            <h3 class="subheading center">Itinerary</h3>
          </div>
        </div>

        <div class="row spaced">
          <div class="col-lg-4 col-lg-offset-2 col-md-12 itineraryDiv">
            <h4 class="itin">Hack Day 1 - Thursday 10th March</h4>
            <div class="itinContainer">
              <p class="itinerary">
                <span class="time green">1000-1100:</span> <span class="itinerary-text">Opening presentations</span><br>
                <span class="time green">1100-1200:</span> <span class="itinerary-text">Choose challenges</span><br> 
                <span class="time green">1200-1300:</span> <span class="itinerary-text">Lunch</span><br>
                <span class="time green">1300-1330:</span> <span class="itinerary-text">Design thinking workshop</span><br>
                <span class="time green">1330-1800:</span> <span class="itinerary-text">Hack</span><br>
                <span class="time green">1800-1900:</span> <span class="itinerary-text">Dinner</span><br>
                <span class="time green">1900-2400:</span> <span class="itinerary-text">Hack</span>
              </p>
            </div>
          </div>
          <div class="col-lg-6 itineraryDiv">
            <h4 class="itin">Hack Day 2 - Friday 11th March</h4>
            <div class="itinContainer">
              <p class="itinerary">
                <span class="time green">0000-1200:</span> <span class="itinerary-text">Hack</span><br>
                <span class="time green">1200-1300:</span> <span class="itinerary-text">Lunch</span><br>
                <span class="time green">1300-1400:</span> <span class="itinerary-text">Demo & presentations</span><br>
                <span class="time green">1400-1500:</span> <span class="itinerary-text">Award ceremony</span><br>
                <span class="time green">1500-????:</span> <span class="itinerary-text">Drinks at Hursley Clubhouse</span>
              </p>
            </div>
          </div>
        </div>


        <div class="row spaced">
          <div class="col-sm-12">
            <h3 class="subheading center">More Details?</h3>
            <p class="details center">Email <a href="mailto:ELe3@uk.ibm.com?Subject=Hursley Hack" target="_top"><span class="orange">Ellie</span></a>, <a href="mailto:DanCunnington@uk.ibm.com?Subject=Hursley Hack" target="_top"><span class="orange">Dan</span></a>, or <a href="mailto:giacomo.chiarella@uk.ibm.com?Subject=Hursley Hack" target="_top"><span class="orange">Giacomo</span></a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
