html, body {
	height: 100%;
	
}

@font-face {
    font-family: consolasbold;
    src: url(/fonts/consolab.ttf);
}

.content {
	overflow-y: scroll;
	background-color:#222728;
	color:#000;
    max-height: 100%;
    height: 100vh;
    padding: 20px 60px 20px 60px;
}
.main {
	position: relative;
	overflow: hidden;
	height: 100%;

}
.container-fluid {
	height: 100%;

}



/*When browser is less than 768px width*/
@media (max-width: 1200px) {
	.col-space {
		padding-bottom: 80px;
	}

	p.details, h3.subheading {
		text-align: center;
	}	
}

@media (max-width: 768px) {
	.signup-button-container {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
		text-align: center;

	}

	.signup-button-container button {
		display: block !important;
		margin: 0 auto !important;
		max-width: 100% !important;
	}

	button.team-signup {
		margin-top: 20px !important;
	}
}

.laptop {
	max-width: 100%;
	padding-top: 5%;
}

.laptop img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	height: auto;
}

h3.strapline {
	text-align: center;
	padding-top: 5%;
	color: #66d9ef;
	font-family: consolasbold;
	font-size: 320%;
}

h4 {
	text-align: center;
	padding-top: 5%;
	color: #e9e9e9;
	font-family: consolasbold;
	font-size: 200%;
}

h3.date {
	text-align: center;
	padding-top: 5%;
	color: #a6e22e;
	font-family: consolasbold;
	font-size: 250%;
}
h3.location {
	text-align: center;
	padding-top: 0%;
	color: #a6e22e;
	font-family: consolasbold;
	font-size: 250%;
}


.signup-button-container {
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0 auto;
	max-width: 100%;
	text-align: center;

}

.signup-button-container button {
	display: inline-block;
}

.signup-button-container button:first-child {
 	margin-right: 20px;
}

i.fa-arrow-right {
	padding-left: 10px;
}


ul.nav li a {
	color: #222728;
	font-size: 150%;
	font-family: 'Oswald', sans-serif;

}

ul.nav li:active {
	background-color: transparent;
}

button.btn-default {
	background-color: #e9e9e9;
}

h3.subheading {
	color: #e9e9e9;
	font-size: 280%;
	font-family: consolasbold;
}

#overview {
	min-height: 100%;
}

p {
	color: #e9e9e9;
}
p.details {
	font-family: 'Raleway', sans-serif;
	font-size: 160%;
	line-height: 2;
}

span.orange {
	color:#FD971F;
	font-weight: bold;
}

span.green {
	color: #a6e22e;
	font-weight: bold;
}

span.pink {
	color: #f92672;
	font-weight: bold;
}
.spaced {
	padding-bottom: 40px;
}

p.center, h3.center {
	text-align: center;
}

a:hover {
	text-decoration: none;
}